body{
    background-color: antiquewhite;
    
}
h1{
    color: white;
    font-family:didot, serif;
    font-size: 100px;
    text-align: center;
}
h1:hover{
    color: lightblue;
}
.studio{
    color: black;
    font-family:didot, serif;
    text-align: center;
    font-size: 30px;
    float: left;
    margin-left: 200px;
}
.lab{
    color: black;
    font-family:didot, serif;
    text-align: center;
    font-size: 30px;
    float: right;
    margin-right: 200px;
}
