body{
    background-color: peachpuff;
    
}
h1{
    color: white;
    font-family:didot, serif;
    font-size: 100px;
    text-align: center;
    
    
}
body{
    color: black;
    font-family:didot, serif;
    text-align: center;
    font-size: 30px;

    
}