body{ 
    background-color: lightslategray;
}
h1{
    font-family:big caslon, serif;
    text-align: center;
}
.opacity{
    opacity: 0.05;
    font-size: 200px;
    position: absolute;
    font-family:big caslon, serif;
}

.parent{
    text-align: center;
}
.mom{
    color: palevioletred;
    font-size: 40px;
    font-family:big caslon, serif;
}
.momshadow{
    color: palevioletred;
    font-size: 55px;
    font-family:big caslon, serif;
    text-shadow: 2px 2px red;
}
.momtwo{
    color: palevioletred;
    font-size: 40px;
    font-family:big caslon, serif;
}
.mother{
    color: palevioletred;
    font-size: 35px;
    font-family:big caslon, serif;
}

.son{
    color: darkseagreen;
    font-family:big caslon, serif;
    font-size: 20px;
}

.husband{
    color: blue;
    font-size: 30px;
    font-family:big caslon, serif;
}
.firsthusband{
    color: blue;
    font-size: 20px;
    font-family:big caslon, serif;
}

.soldier{
    color: gainsboro;
    font-family:big caslon, serif;
    font-size: 18px;
}
.one{
    margin:20px;
    
}
.second{
    margin:40px;
    margin-left: 60px;
}

.three{
    margin-left: 350px;
    
}
.mom1{   
    color: palevioletred;
    font-size: 90px;  
    font-family:big caslon, serif;
}
.mom1:hover{
    font-size: 200px;
}

.momm{
    color: palevioletred;
    font-family:big caslon, serif;
    font-size: 17px;
}
.husbandone{
    color: blue;
    font-size: 30px;
    font-family:big caslon, serif;
}

.four{
    float: right;
    margin-right: 30px;
}

.husbandd{
    float: right; 
    color: blue;
    font-family:big caslon, serif;
    font-size: 20px;
}