body{
    font-family: 'Questrial', sans-serif;
    color:burlywood;
}
h1{
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 65px;


}
img{
margin-left: 25%;
}
.main{
    margin-left: 25%;
}
.prep{
    border-style: solid; 
    border-width: 2px;
    width: 190px;
    padding: 5px;
    font-size:20px;
    margin-top: 5px;
    margin-left: 10px;
    text-align: center;
    display: inline-block;

    
}
.cook{
    border-style: solid; 
    border-width: 2px;
    width: 200px;
    padding: 5px;
    font-size:20px;
    margin-top: 5px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
}
.ready{
    border-style: solid; 
    border-width: 2px;
    width: 245px;
    padding: 5px;
    font-size:20px;
    margin-top: 5px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;

}

#back{
    font-size: 20px;
    
}
#next{
    float: right;
    font-size: 20px;
}