body{
    font-family: 'Questrial', sans-serif;
    color:darkslategray;
}
h1{
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 65px;
}
img{

display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}