body{
    font-family: 'arpey', serif;

}
h1{
    font-size: 100px;
    opacity: 0.4;
    z-index: -1;
    position: absolute;
}

.description{
    font-size: 30px;
    position: fixed;
    text-align: center;
    margin-left: 130px;
}
h2{
    font-size: 40px;
}

.ingredients{
     font-size: 25px;
    margin-left: 10px;
}
.ingredientss{
     font-size: 25px;
}
.direction{
    text-align: right;
    position: relative;
    bottom: 450px;
    margin-right: 10px;
}
