body {
    background: cornsilk;
}


.atl {
    display: none;
    font-family: monospace;
    font-size: 18px;
    color: black;
}



.newyork {
    display: none;
    font-family: monospace;
    font-size: 18px;
    color: black;
}



#circle1 {
    height: 500px;
    width: 500px;
    background-color: darkgray;
    border-radius: 50%;
    display: inline-block;


}



#circle2 {
    background: palegreen; 
    height: 500px;
    width: 500px;
    border-radius: 50%;
    display: inline-block;
    float:right;
}



#circle1:hover .atl{
    display: block;
}



#circle2:hover .newyork{
    display: block;
}


