h1{
    text-align: left;
    padding: 20px;
    font-family: PoynterOSDisp Roman ,serif;
        margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
body{
    opacity: 0.5px;
    background-color: azure;
    font-family: PoynterOSDisp Roman ,serif;
}

.intro{
    padding: 20px;
    float: left;
    text-align: left;
    font-family: PoynterOSDisp Roman ,serif;
    font-size: 20px;
    margin-top: 1px;
    margin-left: 50px;
    margin-right: 50px;
}

.fa-pinterest{
    float:left;
    padding-right: 40px;
    padding-bottom: 40px;
    background: #cb2027;
    color: white;
    position: absolute;
    right: 170px;
    top: 340px;
    
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;

}

.fa:hover {
    opacity: 0.7;
}

p{ 
    float: left;
    padding-left: 52%;
    font-family: PoynterOSDisp Roman ,serif;
    
}
.text{
    position: absolute;
    right: 70px;
    top: 90%;
    margin-left: 50px;
    border-style: solid;
    padding: 10px;
    border-color: white;
}