
#amp{
  width:400px;
  height:500px;
  position: relative;
  display: inline-block;
margin-left: 90px;
}

#amp1{
    width:400px;
    height:500px;
    border: 4px solid black;
    width: 60px;
	height: 350px;
	background: white;
	border-radius: 30px;
	position: absolute;
    top:20%;
    left:13%;
    transform: rotate(155deg);
    display: inline-block;
}

#amp3{
    width:400px;
    height:500px;
    border: 4px solid black;
    width: 60px;
	height: 95px;
	background: white;
	border-radius: 30px;
	position: absolute;
    top:15%;
    left:13%;
    transform: rotate(64deg);
    display: inline-block;
}
#amp4{
    width:400px;
    height:500px;
    border: 4px solid black;
    width: 60px;
	height: 95px;
	background: white;
	border-radius: 30px;
	position: absolute;
    top:15%;
    left:30%;
    transform: rotate(155deg);
    display: inline-block;
}
#amp5{
    border: 4px solid black;
    width: 60px;
	height: 300px;
	background: white;
	border-radius: 30px;
	position: absolute;
    top:18%;
    left:13%;
    transform: rotate(65deg);
    display: inline-block;
}
#amp6{
    width:700px;
    height:500px;
    border: 4px solid black;
    width: 60px;
	height: 200px;
	background: white;
	border-radius: 30px;
	position: absolute;
    top:55%;
    left:15%;
    transform: rotate(64deg);
    display: inline-block;
}
#amp7{
    width:400px;
    height:500px;
    border: 4px solid black;
    width: 60px;
	height: 95px;
	background: white;
	border-radius: 30px;
	position: absolute;
    top:60%;
    right:90%;
    transform: rotate(155deg);
    display: inline-block;
}
#letterl{
  width:400px;
  height:500px;
  position: relative;
  display: inline-block;
}
#uppercase-l {
    width:400px;
    height:500px;
    border: 4px solid black;
    width: 80px;
	height: 400px;
	background: white;
	border-radius: 30px;
	position: absolute;
    top:20%;
    left:5%;
    display: inline-block;
} 

#uppercase-l1 {
    width:400px;
    height:500px;
    border: 4px solid black;
    width: 200px;
	height: 80px;
	background: white;
	border-radius: 30px;
	position: absolute;
    top:85%;
    left:10%;
    display: inline-block;
}
#lettern{
  width:400px;
  height:500px;
  position: relative;
  display: inline-block;
    float: left;
}
#uppercase-n {
    width:400px;
    height:500px;
    border: 4px solid black;
    width: 80px;
	height: 400px;
	background: white;
	border-radius: 30px;
	position: absolute;
    top:20%;
    left:5%;
     display: inline-block;
}
#uppercase-n1 {
    width:400px;
    height:500px;
    border: 4px solid black;
    width: 80px;
	height: 400px;
	background: white;
	border-radius: 30px;
	position: absolute;
    top:20%;
    left:25%;
    transform: rotate(155deg);
     display: inline-block;
}
#uppercase-n2 {
    width:400px;
    height:500px;
    border: 4px solid black;
    width: 80px;
	height: 400px;
	background: white;
	border-radius: 30px;
	position: absolute;
    top:20%;
    left:45%;
     display: inline-block;
}
#letteru{
  width:400px;
  height:500px;
  position: relative;
  display: inline-block;
    float: left;
}
#uppercase-u {
    width:400px;
    height:500px;
    border: 4px solid black;
    width: 80px;
	height: 400px;
	background: white;
	border-radius: 30px;
	position: absolute;
    top:20%;
    left:5%;
}
#uppercase-u1 {
    width:400px;
    height:500px;
    border: 4px solid black;
    width: 150px;
	height: 80px;
	background: white;
	border-radius: 30px;
	position: absolute;
    top:85%;
    left:16%;
 
}
#uppercase-u2 {
    width:400px;
    height:500px;
    border: 4px solid black;
    width: 80px;
	height: 400px;
	background: white;
	border-radius: 30px;
	position: absolute;
    top:20%;
    left:45%;
}
