body{
    background-color: darkgray;
}
img{
    position: fixed;
}
audio{
    float: right;
}
.image{
    position:absolute;
    margin: 400px;
}
.pic{
    position:absolute;
    float: left;
    margin: 900px;
}